@font-face {
    font-family: gothic-bold;
    src: url(../app/src/fonts/gothic-bold.ttf);
}

@font-face {
    font-family: gothic-regular;
    src: url(../app/src/fonts/gothic-regular.ttf);
}

.nav-contact-background {
    background-color: #292B32;
}

.nav-contact-link {
    font-size: 15px;
    font-family: gothic-regular;
    font-weight: 700;
    text-align: center;
    color: #FFF;
}

.nav-contact-link:hover {
    color: #FFF;
}

.nav-router-link {
    font-size: 15px;
    font-family: gothic-regular;
    font-weight: 700;
    text-align: center;
    color: #55565A;
}

.nav-router-link:hover {
    color: #CD1332
}

.footer-header {
    font-size: 20px;
    font-family: gothic-regular;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #CD1332;
}

.footer-link {
    font-size: 16px;
    font-family: gothic-bold;
    line-height: 28px;
    text-align: left;
    color: #CD1332 !important;
    width: 150px;
    text-transform: capitalize;
}

.footer-description {
    font-size: 16px;
    font-family: gothic-regular;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.branches-section {
    color: #FFF;
    background-color: #292B32;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 370px;
}

.branches-header {
    color: #FFF;
    font-size: 45px;
    font-family: gothic-bold;
}

.branches-description {
    font-size: 16px;
    font-family: gothic-regular;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.red-button {
    background-color: #CD1332;
    color: #FFF;
    width: 204px;
    height: 58px;
    border: none;
    font-size: 18px;
    font-family: gothic-bold;
}

.red-button-border {
    background-color: #CD1332;
    color: #FFF;
    width: 100%;
    height: 38px;
    border: none;
    font-size: 18px;
    font-family: gothic-regular;
    font-weight: 600;
    line-height: 22px;
}

.white-button {
    background-color: #FFF;
    color: #CD1332;
    width: 204px;
    height: 58px;
    border: none;
    font-size: 18px;
    font-family: gothic-bold;
}

.white-button-border {
    background-color: #FFF;
    color: #CD1332;
    width: 100%;
    height: 38px;
    border: none;
    font-size: 18px;
    font-family: gothic-regular;
    font-weight: 600;
    line-height: 22px;
    border: 1px solid #CD1332;
}

.offer-section {
    background-image: url('./src/img/banner-inicio.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 707px;
}

.offer-text {
    font-size: 18px;
    font-family: gothic-regular;
    line-height: 25px;
    font-weight: normal;
    color: #FFF;
}

.perks-text {
    font-size: 12px;
    font-family: gothic-regular;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0.65em;
    text-align: left;
    color: #CD1332;
}

.perks-title {
    font-size: 40px;
    font-family: gothic-bold;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #292B32;
}

.perks-description {
    font-size: 16px;
    font-family: gothic-regular;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

.red-text {
    color: #CD1332;
}

.black-text {
    color: #292B32;
}

.bg-red {
    background-color: #CD1332;
}

.bg-dark {
    background-color: #292B32;
}

.bg-orange {
    background-color: #F04D32;
}

.collage-title {
    font-size: 40px;
    font-family: gothic-regular;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
}

.collage-text {
    font-size: 16px;
    font-family: gothic-regular;
    line-height: 28px;
    color: #FFF;
}

.collage-link {
    font-size: 16px;
    font-family: gothic-regular;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.montacargas-card {
    border: 1px solid #55565A;
    padding: 1em;
    border-radius: 8px;
}

.card-body {
    background-color: #292B32;
    color: #FFF;
}

.montacargas-slider-card {
    width: 312px;
    height: 439px;
}

.montacargas-slider-title {
    font-size: 18px;
    font-family: gothic-bold;
    line-height: 50px;
    color: #FFF;
}

.montacargas-slider-description {
    font-size: 16px;
    font-family: gothic-regular;
    line-height: 25px;
    color: #FFF
}

.form-field-text {
    font-size: 14px;
    font-family: gothic-regular;
    font-weight: bold;
}

.asterisk {
    color: #F04D32;
}

.link-contact {
    text-decoration: none;
    color: inherit;
}

.data-send-title {
    color: #E50020;
    font-size: 40px;
    font-family: gothic-regular;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin-bottom: 0;
}

.data-send-description {
    color: #292B32;
    font-size: 18px;
    font-family: gothic-regular;
    font-weight: bold;
}

.border-counter {
    border: 1px solid #A1AECE;
}

.file-container {
    border: 1px dotted #000;
    padding: 3em 6em;
    background-color: #E1E3EA;
    border-radius: 8px;
}

.swiper-button-next {
    bottom: 0 !important;
    top: unset !important;
    left: 60px !important;
    background-color: #E50020;
    color: #FFF !important;
    width: 43px !important;
    height: 43px !important;
    
}

.swiper-button-prev {
    bottom: 0 !important;
    top: unset !important;
    background-color: #E50020;
    color: #FFF !important;
    width: 43px !important;
    height: 43px !important;
}

.swiper-button-next:after {
    font-size: 20px !important;
}

.swiper-button-prev:after {
    font-size: 20px !important;
}