.nav-contact-background {
    background-color: #292B32;
}

.nav-contact-link {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #FFF;
}

.nav-router-link {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #55565A;
}

.footer-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #CD1332;
}

.footer-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #CD1332;
}

.footer-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.branches-section {
    color: #FFF;
    background-color: #292B32;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 370px;
}

.branches-header {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}

.branches-description {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.branches-button {
    background-color: #CD1332;
    color: #FFF;
    width: 204px;
    height: 58px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}